.logo {
  margin-right:16px;
}

.empyr-hero {
  background-color: #FFF6E3 !important;
  color: #101928 !important;
  padding-bottom: 0px !important;
  background-image: url('../img/header-background.svg')!important;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-body{
  padding-bottom: 0px !important;
  padding-top: 2rem !important;
}

.empyr-hero h1 {
  color: #101928 !important;
  font-weight: 800;
}

.empyr-hero .main-button {
 border-radius: 500px;
 padding-left: 40px;
 padding-right: 40px;
 background-color: #101928;
}

.navigation-header {
  padding:0 !important;
  padding-top: 20px !important;
}

.logodesc {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #101928;
  opacity: 0.8;
  max-width: 250px;
}

.language-selector {
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 6px;
  color: #101928 !important;
  background: transparent !important;
  font-weight: bold;
  margin-left: 12px;
}

.language-selector button {
 background-color: transparent !important;
 color: #101928 !important;
 text-transform: uppercase;
}

.language-selector button.is-active {
  background-color: white !important;
}

a.dropdown-item.is-active, .dropdown .dropdown-menu .has-link a.is-active, button.dropdown-item.is-active {
  background-color: #101928 !important;
}

.button.is-dark {
  font-weight: bold !important;
}
.button.is-dark h6 {
  font-weight: bold !important;
  color:  #FFFFFF !important;
}

.button.is-dark h1 {
  font-weight: bold !important;
  color:  #FFFFFF !important;
}

.image img {
 max-width: 531px !important;
  max-height: 100% !important;
  width: 100% !important;
  text-align: right;
  float: right;
}

.ko {
  background: #FAFBFC;
  padding-top: 90px;
  padding-bottom: 90px;
}

.ko-item {
list-style: disc outside;
background-color: #FFFFFF !important;
}

.ko-card {
  margin-top: 40px;
  background-color: #FFFFFF !important;
box-shadow: 8px 6px 24px rgba(43, 102, 160, 0.15);
border-radius: 32px;
max-width: 720px;
padding: 40px !important;
}

.button-radius {
  border-radius: 600px !important;
}

.button.red  {
  background-color: #D51F2D !important;
  padding-left: 30px;
  padding-right: 30px;
}

.whatis {
  background: #FFF8F8;
  background-image: url('../img/second-background.svg')!important;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 220px;
  padding-bottom: 140px;
}

.error-message {
  background-color: #FDE7E3;
  padding: 12px;
  color: #910642 !important;
  font-size: 16px;
line-height: 20px;
border-radius: 8px;
}

.error-message strong {
  color: #910642 !important;
}

.error-message a {
  color: #910642 !important;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 8px;
    display: block;
}

.whatis .contact .name {
  font-size: 22px;
  line-height: 28px;
  color: #101928;
  font-weight: 600;
}

.whatis .contact .title {
font-size: 18px;
line-height: 22px;
color: #4F4F4F;
font-weight: normal;
}

.whatis .contact .email {
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
text-decoration-line: underline;

color: #101928;
}

.whatis .contact-image {
  width: 288px !important;
  height: 288px !important;
}

.ko button {
  font-weight: bold;
}

.whatis a {
  text-decoration-line: underline;  
  color: #000000 !important;
}

.services {
  padding: 90px;
}

.services h2 {
  font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 33px;
color: #606060;
}

.service-name {
  font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 24px;
color: #101928;
}

.service-desk {
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #101928;
opacity: 0.9;
}

.service-name img {
  vertical-align: middle;
}

.service-name span {
  vertical-align: middle;
  margin-left: 8px;
}

.service-items {
  max-width: 720px;
}

.testimonial {
 padding-top: 120px;
 padding-bottom: 140px;
 background-color: #F5FAFF;
 background-image: url('../img/third-background.svg')!important;
 background-origin: content-box;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

.footer {
  background-color: #333333!important;
  color: #FFFFFF !important;
}

.footer hr {
  background-color: #C4C4C4;
  opacity: 0.3;
}

.footer a {
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-decoration-line: underline;
color: #FFFFFF;
}

.footer a:hover {
color: white;
text-decoration: none;

}

.footer h3 {
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
}

.testimonial-item .title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #101928;
}

.testimonial-item .subtitle {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #101928;
}

.testimonial-item .name {
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #101928;
}

.testimonial-item .card {
  box-shadow: 0px 12px 28px rgba(43, 102, 160, 0.15);
border-radius: 16px;
padding: 40px;
min-height: 360px;
}

.testimonial-item .image img {
  border-radius: 50%;
}

.prefooter {
  padding: 60px;
}

.prefooter img {
  max-width: 230px;
}

.prefooter a {
  font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #101928;
display: block;
margin-bottom: 20px;
margin-top: 20px;
}

.prefooter img {
  vertical-align: middle;
  margin-right:  8px;
}
.prefooter span {
  vertical-align: middle;
  text-decoration: underline;
}

.dialog .button.is-primary {
  background-color: #101928;
  color: #FFFFFF;
  border-radius: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.dialog .button.is-primary:hover {
  background-color: #101928;
  color: #FFFFFF;
}

.dialog .button  {
  border-radius: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.ko .radio.button {
  font-size: 22px !important;
line-height: 28px !important;
background: #FFFFFF;
border: 1px solid rgba(65, 65, 65, 0.3);
color: #414141;
opacity: 0.6;
filter: drop-shadow(0px 4px 20px rgba(16, 25, 40, 0.1));
}

.ko-items .lelvel-left p {
  font-size: 1.5rem !important;
}

.ko .radio.button.is-success {
  background: linear-gradient(0deg, #F4FCF7, #F4FCF7), #FFFFFF;
border: 1.5px solid #1ABE67;
font-style: normal;
font-weight: 700;
font-size: 22px !important;
line-height: 28px !important;
color: #1ABE67 !important;
opacity: 1;
}

.ko .radio.button.is-danger {
  background: #FFFFFF !important;  
  border: 1.5px solid #D51F2D !important;
  font-weight: 700 !important;
font-size: 22px !important;
line-height: 26px !important;
font-size: 18px;
color: #D51F2D !important;
opacity: 1;
}

.ko .radio.button.is-success:focus, .button.is-success.is-focused {
  border: 1.5px solid #1ABE67 !important;
  opacity: 1;
}
.ko .radio.button.is-success:hover {
  border: 1.5px solid #1ABE67 !important;
  opacity: 1;
}

.ko .radio.button.is-danger:focus, .button.is-danger.is-focused {
  background: #FFFFFF !important;  
  border: 1.5px solid #D51F2D !important;
  opacity: 1;
}
.ko .radio.button.is-danger:hover {
  background: #FFFFFF !important;  
  border: 1.5px solid #D51F2D !important;
  opacity: 1;
}

.ko ul {
  list-style: square outside none;
  margin-left: 20px;
}

.how-long {
  display: -webkit-inline-box;
  vertical-align: middle;
}

.section-title-size h2, .section-title-size h1 {
  font-weight: 700 !important;
    font-size: 32px !important;
    color: #101928;
}



@media screen and (max-width: 769px) {
  .hero-header img {
  width: 80px;
  }
  .headerbreaker {
    display: block;
  }
  .language-selector {
    position: absolute !important;
    float: right !important;
    right: 0px !important;
    top: 10px !important;
  }
}

@media screen and (max-width: 480px) {
.container  {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.hero-body .button {
  display: flex;
    width: 100%;
}

.ko {
  padding-top: 40px;
}

.ko-items .lelvel-left p {
  font-size: 18px !important;
  font-weight: 700;
}

.hero-body .button {
  display: flex;
    width: 100%;
}

.ko-card {
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 30px;
}

}